<div class="jumbotron">
  <h2>We are the best pet breeder search tool in Australia.</h2><br/>
  <h3>Find a dog or cat breeder by breed or location.</h3>
</div>

<h1>Find by breed or location</h1>
<p>(e.g. Poodle, NSW, 2000)</p>
    <%= form_tag search_breeders_path, method: :get, class: "form-group" do %>
  <%= text_field_tag :search, params[:search], class: "form-control" %></br>
    <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
   <% end %>

<div>
<h3> All breeders </h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Suburb</th>
      <th>State</th>
      <th>Postcode</th>
      <th>Telephone</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breeders.each do |breeder| %>
      <tr>
        <td><%= breeder.name %></td>
        <td><%= breeder.address %></td>
        <td><%= breeder.suburb %></td>
        <td><%= breeder.state %></td>
        <td><%= breeder.postcode %></td>
        <td><%= breeder.telephone %></td>
        <td><%= breeder.website %></td>
        <td><%= link_to 'Show', breeder %></td>
        <td><%= link_to 'Edit', edit_breeder_path(breeder) %></td>
        <td><%= link_to 'Destroy', breeder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Breeder', new_breeder_path %>
